@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>A little bit about me...</h3>

<p>I am passionate about helping people, using my technicals skills to do so. I'm a true believer that the human touch in all consultation jobs, particularly when it comes to designing solutions, is the most important aspect in these meetings.
    My upbringing as a ow-middle class Puertorican, seeing first hand hw a community only grows stronger as they cooperate and work as one collective family, gives me team-first attitude that has helped me
    develop great leadership skills and a passionate never-ending hunger to do more.</p>
<p>I hope to continue learning as a professional, and hope be integrated into teams within IBM so I can further polish my people skills, as well as my technical abilities. Together with great minds, and the best of attitudes, we can achieve great things in this world.
</p>