@{
    ViewData["Title"] = "Contact";
}
<h2>Alexander Rivera</h2>
<h3>Hackathon Connoiseur</h3>

<address>
    505 Quaker Creek Dr<br />
    Mebane, NC 27302<br />
    <abbr title="Phone">P:</abbr>
    787-432-6099
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">arivepr@microsoft.com</a><br />
    <strong>Professional Contact:</strong> <a href="mailto:Marketing@example.com">alriver@microsoft.com</a>
</address>
